<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- title of site -->
    <title>CarTrader</title>

    <!-- For favicon png -->
    <link
      rel="shortcut icon"
      type="image/icon"
      href="../static/../static/assets/logo/favicon.png"
    />
    <!-- BOOTSTRAP STYLES-->
    <link href="../../static/seller_assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link
      href="../../static/seller_assets/css/font-awesome.css"
      rel="stylesheet"
    />
    <!-- MORRIS CHART STYLES-->
    <link
      href="../../static/seller_assets/js/morris/morris-0.4.3.min.css"
      rel="stylesheet"
    />
    <!-- CUSTOM STYLES-->
    <link href="../../static/seller_assets/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../static/css/seller/footer.css" />
    <link rel="stylesheet" href="../../static/css/seller/load.css" />
    <!-- GOOGLE FONTS-->
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div id="wrapper">
      <nav
        class="navbar navbar-default navbar-cls-top"
        role="navigation"
        style="margin-bottom: 0"
      >
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".sidebar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/admin/chart">User {{user.first_name}}</a>
        </div>
        <div
          style="
            color: white;
            padding: 15px 50px 5px 50px;
            float: right;
            font-size: 16px;
          "
        >
          <a href="#" class="btn btn-danger square-btn-adjust">Logout</a>
        </div>
      </nav>
      <!-- /. NAV TOP  -->
      <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            <li class="text-center">
              <img
                src="../../static/seller_assets/img/find_user.png"
                class="user-image img-responsive"
              />
            </li>
            <li>
              <a href="/"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
            </li>
            <li>
              <a class="active-menu" href="/admin/chart"
                ><i class="fa fa-bar-chart-o fa-3x"></i> Charts</a
              >
            </li>
            <li>
              <a href="/admin/confirm"
                ><i class="far fa-handshake fa-3x"></i> Confirm</a
              >
            </li>
            <li>
              <a href="/admin/tables"
                ><i class="fa fa-table fa-3x"></i>Car Table</a
              >
            </li>
            <li>
              <a href="/admin/register"><i class="fa fa-edit fa-3x"></i> Register User </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /. NAV SIDE  -->
      <div id="page-wrapper">
        <div id="page-inner">
          <div class="row">
            <div class="col-md-12">
              <h2>Morris Charts</h2>
              <h5>Welcome {{user.first_name}} {{user.last_name}} , Love to see you back.</h5>
            </div>
          </div>
          <!-- /. ROW  -->
          <hr />
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">Monthly Client Overview</div>
                <input type="hidden" id="total-client-data" value='{{ total_client | tojson }}'>
                <div class="panel-body">
                  <canvas id="morris-bar-chart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">Confirmed and Unconfirmed Payments Area Chart</div>
                <input type="hidden" id="total-confirm-data" value='{{ total_confirm_payment | tojson }}'>
                <input type="hidden" id="total-unconfirm-data" value='{{ total_unconfirm_payment | tojson }}'>
                <div class="panel-body">
                  <canvas id="combined-area-chart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
          <!-- /. ROW  -->
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">Client Engagement Analysis</div>
                <input type="hidden" id="total-confirm" value='{{ total_confirm_payment | tojson }}'>
                <input type="hidden" id="total-client" value='{{ total_client | tojson }}'>
                <div class="panel-body">
                    <canvas id="donut-chart" width="400" height="200"></canvas>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">Car Inventory Growth Over Months</div>
                <input type="hidden" id="total-car-data" value='{{ total_car | tojson }}'>
                <div class="panel-body">
                  <canvas id="morris-line-chart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
          <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
      </div>
      <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
     
    <!-- COPYRIGHT SECTION -->
    <div id="footer-tape">&copy; 2024 Flori Bica. All rights reserved.</div>
     <!-- load html -->
     <div class="loader" id="loader" style="display: none">
      <div class="loader-inner">
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
      </div>
    </div>
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../../static/seller_assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../../static/seller_assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../../static/seller_assets/js/jquery.metisMenu.js"></script>
    <!-- MORRIS CHART SCRIPTS -->
    <script src="../../static/seller_assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="../../static/js/chart/bar_chart.js"></script>
    <script src="../../static/js/chart/line_chart.js"></script>
    <script src="../../static/js/chart/area_chart.js"></script>
    <script src="../../static/js/chart/donut_chart.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../../static/seller_assets/js/custom.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="../../static/seller_assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../static/js/load.js"></script>
  </body>
</html>
