<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CarTrader</title>
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/icon"
      href="../static/../static/assets/logo/favicon.png"
    />
    <!-- Bootstrap Styles -->
    <link href="../../static/seller_assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles -->
    <link
      href="../../static/seller_assets/css/font-awesome.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Custom Styles -->
    <link href="../../static/seller_assets/css/custom.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Custom Inline Styles -->
    <link rel="stylesheet" href="../../static/css/seller/add_car.css">
    <link rel="stylesheet" href="../../static/css/seller/load.css">
    <link rel="stylesheet" href="../../static/css/seller/footer.css">
  </head>
  <body>
    <div id="wrapper">
      <!-- NAVBAR TOP -->
      <nav
        class="navbar navbar-default navbar-cls-top"
        role="navigation"
        style="margin-bottom: 0"
      >
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".sidebar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/add/car">User {{user.first_name}}</a>
        </div>
        <div
          style="
            color: white;
            padding: 15px 50px 5px 50px;
            float: right;
            font-size: 16px;
          "
        >
          <a href="/logout" class="btn btn-danger square-btn-adjust">Logout</a>
        </div>
      </nav>
      <!-- NAV SIDE -->
      <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            <li class="text-center">
              <img
                src="../../static/seller_assets/img/find_user.png"
                class="user-image img-responsive"
              />
            </li>
            <li>
              <a href="/"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
            </li>
            <li>
              <a href="/seller/chart"
                ><i class="fa fa-bar-chart-o fa-3x"></i> Charts</a
              >
            </li>
            <li>
              <a href="/seller/confirm"
                ><i class="far fa-handshake fa-3x"></i> Confirm</a
              >
            </li>
            <li>
              <a href="/seller/tables"
                ><i class="fa fa-table fa-3x"></i> Car Table</a
              >
            </li>
            <li>
              <a class="active-menu" href="/add/car"
                ><i class="fa fa-edit fa-3x"></i> Add Car
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- PAGE CONTENT -->
      <div id="page-wrapper">
        <div id="page-inner">
          <div class="row">
            <div class="col-md-12">
              <h2>Add a New Vehicle</h2>
              <h5>
                Welcome {{user.first_name}} {{user.last_name}} , Love to see you back. Now you can add a new vehicle!
              </h5>
            </div>
          </div>
          <!-- /. ROW  -->
          <hr />
          <!-- Form Section -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-container">
                <form
                  method="post"
                  role="form"
                  enctype="multipart/form-data"
                  action="/add/car"
                >
                  <div class="form-group">
                    <label for="carName">Car Brand</label>
                    <input
                      type="text"
                      name="brand"
                      class="form-control"
                      id="carName"
                      placeholder="Enter Car Name"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="carModel">Car Model</label>
                    <input
                      type="text"
                      name="model"
                      class="form-control"
                      id="carModel"
                      placeholder="Enter Car Model"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="style">Style</label>
                    <input
                      type="text"
                      name="style"
                      class="form-control"
                      id="style"
                      placeholder="Enter Manufacturer Name"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="rent_price">Price ($)</label>
                    <input
                      type="number"
                      name="rent_price"
                      class="form-control"
                      id="rent_price"
                      placeholder="Enter Rent Price"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="year">Year</label>
                    <input
                      type="number"
                      name="year"
                      class="form-control"
                      id="year"
                      placeholder="Enter Year"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="mileage">Mileage (km)</label>
                    <input
                      type="number"
                      name="km"
                      class="form-control"
                      id="mileage"
                      placeholder="Enter Mileage"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="photo">Photo</label>
                    <input
                      type="file"
                      name="image"
                      class="form-control"
                      id="photo"
                      accept="image/*"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea
                      class="form-control"
                      name="description"
                      id="description"
                      rows="5"
                      placeholder="Enter Description"
                      required
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="conditions">Condition</label>
                    <div id="conditions">
                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="conditions"
                          value="new"
                          required
                          checked
                        />
                        New
                      </label>
                      <label class="radio-inline">
                        <input
                          type="radio"
                          name="conditions"
                          value="used"
                          required
                        />
                        Used
                      </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-submit" onclick="showLoader()">Submit</button>
                  <button type="reset" class="btn btn-reset" onclick="showLoader()">Reset</button>
                </form>
              </div>
            </div>
          </div>
          <!-- End Form Section -->
        </div>
        <!-- End Page Inner -->
      </div>
      <!-- End Page Wrapper -->
    </div>
    <!-- End Wrapper -->
     <!-- load html -->
     <div class="loader" id="loader" style="display:none;">
      <div class="loader-inner">
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
      </div>
    </div> 
    <!-- SCRIPTS -->
    <script src="../../static/seller_assets/js/jquery-1.10.2.js"></script>
    <script src="../../static/seller_assets/js/bootstrap.min.js"></script>
    <script src="../../static/seller_assets/js/jquery.metisMenu.js"></script>
    <script src="../../static/seller_assets/js/custom.js"></script>
    <script src="../../static/js/load.js"></script>

    <!-- COPYRIGHT SECTION -->
    <div id="footer-tape">
      &copy; 2024 Flori Bica. All rights reserved.
    </div>
  </body>
</html>
